
/* -------- FORMATEO --------- */

* {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0e1c26;
}


/* ------ HEADER --------- */

.header {
    background-color: #2a454b;
    width: 100%;
    height: 73px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 999;
}

.header > .header__title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 38px;
    color: #212529;
    background-color: white;
    border: 4px solid white;   
    padding: 4px;
    border-radius: 8px;
    transition: 0.4s background-color, border;
    user-select: none;
}

.header__title:hover {
    color: white;
    background-color: #2a454b;
    border: 4px solid white;
}

.header > .desktop__nav > .nav__list {
    display: flex;
    list-style: none;
}

.nav__list > .list__item {
    transition: 0.2s transform;
}

.nav__list > .list__item:hover {
    transform: scale(1.2);
}

.desktop__nav > .nav__list a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    font-family: inter;
    padding: 20px 30px;
}

.nav__list a:hover {
    background-color: #1e3135;
}


/* ------ MOBILE NAV --------- */

.mobile__nav > .nav__list {
    list-style: none;
    display: flex;
    padding: 0;
}

.nav__list a {
    color: white;
    font-size: 30px;
    padding: 21px 20px;
}


/* RESPONSIVE DESIGN */

@media (min-width: 700px) {
    .mobile__nav {
        display: none;
    }
}

@media (max-width: 700px) {
    .mobile__nav {
        display: block;
    }

    .desktop__nav, .header__title {
        display: none;
    }

    .nav__list a {
        padding: 14px 20px;
    }
}

/* MAIN */ 

.hero {
    display: flex;
    flex-direction: column;
}

.desktop__landing, .mobile__landing {
    display: flex;
    justify-content: space-around;
    font-family: Inter;
    width: 100%;
    margin-top: 50px;
    color: #F8F9FA;
    padding-bottom: 220px;
}

.container__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container__text > .landing__title {
    width: 50%;
    font-size: 52px;
    text-wrap: balance;
    font-family: Inter;
    font-weight: bold;
}

.text__decoration {
    color: #495057;
}

.text__decoration.two {
    color: #6C757D;
}

.text__decoration.three {
    color: #ADB5BD;
}

.cards {
    display: flex;
    width: 40%;
    flex-wrap: wrap;
    margin-top: 120px;
    color: #f8f9faaf;
}

.card.add {
    color: #f8f9fa40;
    font-size: 50px;
}

.card, .mobile__card {
    background: linear-gradient(120deg, #0e1c26, #2a454b, #294861);
    width: 220px;
    height: 280px;
    font-family: inter;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    margin: 10px;
    box-shadow: 0 0 10px 0 #0007;
    transition: 0.2s transform, background;
}

.card:hover, .mobile__card:hover {
    background: linear-gradient(120deg, #0e1c2686, #2a454b65, #29486179);
    transform: scale(1.05);
}

.icon {
    font-size: 24px;
    text-align: center;
    width: 45%;
    position: relative;
    top: 60px;
    animation: 1s bounce infinite linear;
    animation-direction: alternate-reverse;
}

@keyframes bounce {
    0% {
        transform: translateY(0px);
    }

    33% {
        transform: translateY(10px);
    }

    66% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(30px);
    }
}

/* MOBILE MAIN */ 

.mobile__container__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.mobile__landing__title {
    font-size: 32px;
    text-wrap: balance;
}

.mobile__landing__subtitle {
    font-size: 18px;
}

.mobile__cards {
    display: flex;
    width: 50vdw;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 80px;
}

.mobile__card {
    background: linear-gradient(120deg, #0e1c26, #2a454b, #294861);
    width: 110px;
    height: 190px;
    font-size: 18px;
}

.mobile__icon {
    text-align: center;
    color: white;
    animation: 1s bounce infinite linear;
    animation-direction: alternate-reverse;
    position: relative;
    top: 20px;
}

@media (min-width:800px) {
    .mobile__landing {
        display: none;
    }
}

@media (max-width:800px) {
    .desktop__landing {
        display: none;
    }

    .mobile__landing {
        display: block;
        margin-top: 80px;
    }
}

@media (max-width:1100px) {
    .cards {
        display: block;
    }

    .desktop__landing {
        display: none;
    }

    .mobile__landing {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 120px;

    }
}

/* ABOUT */

.about__us {
    display: flex;
    justify-content: space-around
}

.about__content {
    font-family: inter;
    font-size: 28px;
    color: rgba(255, 255, 255, 0.479);
    text-wrap: pretty;
    word-break: keep-all;
    width: 80%;
    line-height: 1.8lh;
    padding: 20px 80px;
    border-radius: 12px;
}

@media (max-width: 800px) {
    .about__content.mobile {
    font-size: 18px;
    line-height: 1.2;
    width: 100%;
}
}